/* ______ GLOBAL CSS STYLES (for NON-unity default divs) ______  */
.root {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* BaseScreen root container */
.uxScreenContainer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
}